.screens{
  position:relative;
  width:100%;
  height:100vh;
  overflow:hidden;
  padding-bottom:84px;
}

.screen{
  position:absolute;
  inset:0;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  transform: translateX(110%);
  transition: transform .35s ease;
  background: var(--bg);
}

.screen.isActive{ transform: translateX(0%); }
.screen.isLeft{ transform: translateX(-110%); }

